body {
	background-color: black;
}

.twoColGrid {
    display: grid;
	gap: 0;

	grid-template-columns: 1fr 1fr;	
	grid-template-rows: auto 1fr 100px;
}

#arrows {

}

button {
	min-width: 25em;
	padding: 5em;
	margin: 2em;
}

#goUp, #goDown {
	text-align: center;
	vertical-align: middle;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow path {
	fill:#00ff00;
	stroke:#000000;
	stroke-width:0.264583px;
	stroke-linecap:butt;
	stroke-linejoin:miter;
	stroke-opacity:1;
}

.invert {
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}

.disabled path {
	fill: #003300;
}

.hidden {
	display: none !important;
}